<%- include('partials/head', {title: title}); %>
  <body>
    <h1>Product dashboard!</h1>
    <ul>
        <li>
            <a href="/products">View all products</a>
        </li>
        <li>
            <a href="/product/new">Create a product</a>
        </li>
    </ul>
  </body>
</html>